// INPUT
.waw-input {
  position: relative;
  input {
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid $c-primary-2;
    &:focus {
      outline: none;
    }
  }
  label {
    color: $c-primary-2;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  input:focus ~ label,
  input:valid ~ label {
    top: -10px;
    font-size: 12px;
    color: $c-primary-2;
  }
  .bar {
    position: relative;
    display: block;
    width: 100%;
  }
  .bar:before,
  .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: $c-primary-2;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .bar:before {
    left: 50%;
  }
  .bar:after {
    right: 50%;
  }
  input:focus ~ .bar:before,
  input:focus ~ .bar:after {
    width: 50%;
  }

  /* ANIMATIONS ================ */
  @-webkit-keyframes inputHighlighter {
    from {
      background: $c-primary-2;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @-moz-keyframes inputHighlighter {
    from {
      background: $c-primary-2;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
  @keyframes inputHighlighter {
    from {
      background: $c-primary-2;
    }
    to {
      width: 0;
      background: transparent;
    }
  }
}
// INPUT OLD
.waw-inputOld {
  position: relative;
  input {
    cursor: pointer;
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: 1px solid $c-border;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    &:focus {
      outline: none;
      border: 1px solid $c-primary-2;
      transition: 0.2s ease-in-out;
    }
    &::placeholder {
      color: $c-text;
    }
  }
}
// TEXTAREA
.waw-textarea {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 41px;
    height: 40px;
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 1px solid $c-primary-2;
    outline: 0;
    font-size: 16px;
    color: $c-text;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    &._mh150 {
      max-height: 150px;
    }
  }

  textarea::placeholder {
    color: transparent;
  }

  textarea:placeholder-shown ~ .waw__label {
    font-size: 16px;
    cursor: text;
    top: 20px;
  }

  label,
  textarea:focus ~ .waw__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: $c-primary-2;
  }

  textarea:focus ~ .waw__label {
    color: $c-primary-2;
  }

  textarea:focus {
    padding-bottom: 6px;
    border-bottom: 2px solid $c-primary-2;
  }
}
// RADIO
.waw-radio {
  display: flex;
  align-items: center;
  font-size: 16px;
  position: relative;
  padding-left: 35px;
  height: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  &:hover input ~ .checkmark {
    border: 1.5px solid $c-primary-1;
    transition: 0.2s ease-in-out;
  }
  input:checked ~ .checkmark {
    background-color: $c-primary-1;
    border: 2px solid $c-primary-1;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid $c-border;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 4.5px;
      top: 4px;
      background: #fff;
      border-radius: 20px;
      width: 8px;
      height: 8px;
    }
  }
}
// CHECKBOX
.waw-checkbox {
  display: flex;
  align-items: center;
  position: relative;
  height: 25px;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  &:hover input ~ .checkmark {
    border: 1.5px solid $c-primary-1;
  }
  input:checked ~ .checkmark {
    background-color: $c-primary-1;
    border: none;
    transition: 0.2s ease-in-out;
  }
  input:checked ~ .checkmark:after {
    display: block;
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid $c-border;
    transition: 0.2s ease-in-out;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 8px;
      top: 4px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
// SWITCH
.waw-switch-wrap {
  display: flex;
  align-items: center;
}
.waw-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
  cursor: pointer;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  input:checked + .slider {
    background-color: $c-primary-1;
    border: 1px solid $c-primary-1;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $c-border-hover;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
    background-color: #fff;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid $c-border;
    outline: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    &:before {
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 5px;
      bottom: 5px;
      background-color: $c-border;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
  }
  &-text {
    margin-left: 10px;
  }
  .round {
    border-radius: 34px;
  }
  .round:before {
    border-radius: 50%;
  }
}
// RANGE
.waw-range {
  display: block;
  -webkit-appearance: none;
  background-color: $c-border;
  width: 100%;
  height: 3px;
  border-radius: 5px;

  outline: 0;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: $c-primary-2;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  &::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid $c-primary-2;
  }
}
