.btn {
	position: relative;

	display: inline-block;

	min-width: 100px;
	padding: 0.7em 1em;
	margin-bottom: 1em;

	cursor: pointer;
	text-align: center;
	vertical-align: top;
	letter-spacing: 1px;
	line-height: 1;

	font-family: $ff-title;
	font-size: $fs-s;

	color: $white;
	border: none;
	border-radius: 2px;
	background: $primary;
	transition: all 0.3s;
	&:hover,
	&:focus {
		opacity: 0.8;
	}

	.icon {
		margin-right: 0.75em;
	} // disabled
	&.m_disabled {
		cursor: not-allowed;

		opacity: 0.3;
		background: $black;
	}
	&.m_danger {
		background: $danger;
		&:hover {
			opacity: 0.8;
		}
	} // only icon
	&.m_icon {
		min-width: auto;
		i {
			margin-right: 0;
		}
	} // only icon
	&.m_ricon {
		min-width: auto;
		width: 2.45em;
		height: 2.45em;
		border-radius: 50%;
		padding: 0;
		i {
			margin-right: 0;
		}
	} // accent color
	&.m_accent {
		background: $accent;
		&:hover {
			opacity: 0.8;
		}
	} // danger color
	&.m_danger {
		background: $danger;
		&:hover {
			opacity: 0.8;
		}
	} // black color
	&.m_black {
		background: $black;
		&:hover {
			opacity: 0.8;
		}
	} // gray color
	&.m_gray {
		background: $gray;
		&:hover {
			opacity: 0.8;
		}
	}
	&.m_big {
		font-size: $fs;
	}
	&.m_small {
		font-size: $fs-xs;
	}
}
